<div class="card mb-4">
    <div class="card-header">
        <div class="d-flex justify-content-between align-items-center">
            <div class="d-flex justify-content-between align-items-center">
                <div class="ml-2">
                    <div class="h5 m-1">@<%=username%></div>
                </div>
            </div>
        </div>
        <% function timeAgo(date){const now=new Date();const seconds=Math.round((now-date)/1000);const minutes=Math.round(seconds/60);const hours=Math.round(minutes/60);const days=Math.round(hours/24);if(seconds<60){return `${ seconds } seconds ago`}else if(minutes<60){return `${ minutes } minutes ago`}else if(hours<24){return `${ hours } hours ago`}else{return `${ days } days ago`}};%>
    </div>
    <div class="card-body">
        <div class="text-muted h7 mb-2"> <i class="fa fa-clock-o"></i>   <%- timeAgo(new Date(createdTime)) %></div>
        <p class="card-text"> <%- contents %></p>
        <!-- <div>
            <span class="badge badge-primary bg-info">JavaScript</span>
            <span class="badge badge-primary bg-info">Android</span>
            <span class="badge badge-primary bg-info">PHP</span>
            <span class="badge badge-primary bg-info">Node.js</span>
            <span class="badge badge-primary bg-info">Ruby</span>
            <span class="badge badge-primary bg-info">Paython</span>
        </div> -->
    </div>
    <div class="card-footer">
        <a href="#" class="card-link"><i class="fa fa-gittip"></i> Like</a>
        <a href="#" class="card-link"><i class="fa fa-comment"></i> Reply</a>
    </div>
</div>