<div id="reply-creator-modal" class="modal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Create Reply Post</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" action="/replypost" method="POST">
                    <fieldset>
                        <input id="postID" type="text" value="" name="postID" readonly hidden>
                        <div class="form-group mb-4 position-relative">
                            <label class="control-label">Replying to</label>
                            <div class="">
                                <textarea class="form-control mb-1" id="replyContents"
                                    maxlength="255" readonly></textarea>
                            </div>

                            <label class="control-label" for="contents">Post Contents</label>
                            <div class="">
                                <textarea class="form-control mb-1" id="rcontents" name="contents"
                                    placeholder="Enter the post here... (255 character limit)"
                                    maxlength="255"></textarea>
                                <span class="help-block text-muted position-absolute end-0" id="rcharRemaining">0/255</span>
                            </div>
                        </div>

                        <!-- Button (Double) -->
                        <div class="form-group mb-1 mt-4">
                            <div class="">
                                <input type="submit" id="submit" name="submit" class="btn btn-success" />
                                <a id="cancel" name="cancel" class="btn btn-inverse" data-bs-dismiss="modal">
                                    Cancel
                                </a>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('#rcontents').keyup(function () {
            $("#rcharRemaining").html(`${this.value.length}/255`);
        })
    });
</script>