<section class="" style="background-color: #eee">
    <div class="container pt-5">
        <% if(typeof original != 'undefined') { %>
        <%- include('widgets/post', JSON.parse(original)); %>
        <% } %>
    </div>
    <section class="m-4" style="background-color: #e6d0d0; border-radius: .2em;">
        <div class="container py-5">
            <% if(typeof rows != 'undefined') { JSON.parse(rows).forEach(function(post){ if(post.PosterUsername != null) { %>
            <%- include('widgets/post', post); %>
            <% }}); } %>
        </div>
    </section>
</section>